// большой слайдер
.slider__item {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
}

// миниатюры
.thumbs__item {
    width: 140px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thumbs .slick-track div+div {
    margin-left: 20px;
}

.thumbs .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
}

.thumbs .slick-slide {
    max-width: 140px;
}

.slider {
    margin-bottom: 20px;
}

.slider__box {
    position: relative;
}

// стили для полоски
.slider__box::after,
.slider__box::before {
    content: '';
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #f3af9d;
    z-index: 5;
}

.slider__box::after {
    right: 100%;
    margin-right: 10px;
}

.slider__box::before {
    left: 100%;
    margin-left: 10px;
}

.footer__inner {
    position: relative;
}

.footer__inner::after,
.footer__inner::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 274px;
    width: 100%;
    background-color: #f3af9d;
    z-index: 5;
}

.footer__inner::after {
    right: 100%;
    margin-right: 10px;
}

.footer__inner::before {
    left: 100%;
    margin-left: 10px;
}