// .works__inner {}
// .recent__works {}
.recent__title {
    background-image: url(../img/icons/line-bg.jpg);
    margin-bottom: 22px;
}

.recent__title-text {
    font-family: 'Bebas';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #e8603c;
    padding-right: 20px;
    background-color: #fff;
    // display: inline-block;
}