@import 'reset';
@import 'fonts';
@import 'footer';
@import 'slider';
@import 'features';
@import 'works';
@import 'media';
$top-color: #e8603c;
.container {
    width: 940px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    margin: 0 10px 0 10px;
    font-family: 'Bebas', sans-serif;
}

.header__menu {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    li+li {
        margin-left: 50px;
    }
    a {
        text-decoration: none;
        color: #b9b9b9;
    }
    a:hover {
        color: $top-color;
        transition: all .3s;
    }
}