@font-face {
    font-family: 'Bebas';
    src: url('Bebas.woff2') format('woff2'),
        url('Bebas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

